.headline {
    max-width: 600px;
    font-size: 28px;
    margin: 70px 0;
    text-align: center;
}

.home-content {
    gap: 40px;
    // padding: 0 100px;
    padding-bottom: 40px;

    .filter-stack {
        padding: 0 30px;

        .filter-txt-form {
            padding: 0 30px;
        }
    }
}

.filter-btn {
    background-color: $primary;
    border: none;
}

.filter-input {
    border: none;
    box-shadow: 0px 3px 15px rgba(128, 128, 128, 0.15);
}

.limit-width-300 {
    width: 300px;
}

.limit-width-250 {
    width: 250px;
}

.limit-width-200 {
    width: 200px;
}

.input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
$color_1: #8C5CB3;

a.nav-item.btn.btn-primary {
    display: flex;
padding: 12px 20px;
align-items: flex-start;
gap: 10px;
    border-radius: 2px;
border: 2px solid #8C5CB3;
	background: none;
	 
	color: $color_1 !important;
}
.small-card-title{
    font-size:12px;
}
.prices {
    display: flex;
    margin: 18px 0;
    gap: 14px;
    justify-content: space-between;
    align-items: center;
}
.search-content2{
    padding:0px 80px!important;
}
.card-height{
    height: 100%;
    min-height: 480px;
    border: 1px solid rgba(214, 214, 214, 0.5);
    box-shadow: 0px 4px 4px rgba(163, 163, 163, 0.25), 4px 16px 16px rgba(163, 163, 163, 0.16);
    border-radius: 15px;
}
.card-height .product-image{
    margin-left: 20px; 
}
.search-content2 .chart-section{
background-color: #fff;
}
.similar-products-card{
    background: #fff;
    border-left: 8px solid #8c5cb3;
}