body{
  background: rgba(242, 237, 247, 0.60) !important;
}
label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    width: 401px;
    height: fit-content;
    flex-shrink: 0;
    
    border: none;
  }
  
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border: none;
    border-radius: 14px;
 
  }
  .card label{
    color: #000;
    font-size: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3px;
  }
  .card .forget{
    display: inline-block;
    margin-top: 5px;
    float: right;
    color: #8C5CB3;
 
  }
  /* .card svg {
    position: absolute;
    bottom: 8px;
    left: 342px;
    width: 17px;
    height: 22px;
    top: 180px;
} */
  .card form input {
    width: 351px;
height: 46px;
flex-shrink: 0;
border-radius: 6px;
border: 1px solid #A4A4A4;
}
  .card .titel{
    text-align: center;
 margin-bottom: 20px;
  }
  .card .titel h1{
    color: #000;
    font-size: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 
  }
  .card .titel h3{
    color: #000;
font-size: 22px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
line-height: normal;
 
  }
  .foterr {
    text-align: center;
    margin-top: 13px;
}
   .foterr p{
    display: inline-block;
    text-align: center;
  }
   .foterr a{
    color: #8C5CB3 !important;
    text-align: center;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: rgba(242, 237, 247, 0.80) ;
}
.table-width{
  padding:0px 50px;
}
 .rs-table-row-header .rs-table-cell-content{
  /* background: #8e63b5!important; */
    /* color: #fff; */
}
.rs-table-body-wheel-area{
  background-color: #fff;
  color: #000;
}
code { 
  color: #8eabe7!important;
}
.bg-greyf{
  background-color:#FAFAFA;
  padding:10px;

}
.fix-margin{
  margin-top:40px;
  margin-bottom:40px;
}
.rs-panel-title{
  color:#000;
}
.card .form-group svg{
  position: relative;
  z-index: 999;
}
.card .form-group svg {
  position: relative;
  z-index: 999;
  top: -34px;
  float: right;
  right: 15px;
}
.rs-checkbox-wrapper {
  display: inline-block;
  height: 16px;
  left: 10px;
  position: absolute;
  top: 20px !important;
  width: 16px;
}